@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<h1>
    Heer Mehta
</h1>

<h5>CEO HappyClub</h5>
<br />

<address>
    <h4><b>Reach Out :</b></h4>
    <strong>Support:</strong> <a href="mailto:HappyClub@gmail.com">HappyClub@gmail.com</a><br />

    <strong>Marketing:</strong> <a href="mailto:MktgHappyClub@gmail.com">MktgHappyClub@gmail.com</a><br />
    
    Contact number :
    8657320416
</address>
<br />

<address>
    <h4><b>Address :</b></h4>
    HappyClub Headquarters<br />
    123 Laughter Lane<br />
    Smileville, Joyland 56789<br />
    United Laughterdom
    
</address>


